* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: inline;
    background: #0E1A0F;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerCalculadora {
    background: #18421c;
    padding-top: 20px;
    margin-top: 5rem;
    margin-left: 15rem;
    height: 820px;
    width: 800px;
    border-radius: 15px;
}
