@model AmbilitySP_Desktop.Models.CalcGanhos

@{
    ViewData["Title"] = "Calculadora de Ganhos";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Estilo03.css" />
</head>

<body>
    <div class="containerCalculadora">
        <img class="imgCalc" src="~/images/calculator.png" style="width: 70px; height:70px; margin-bottom: 20px"/>
        <h1 style="color:#fff; font-family: 'Trebuchet MS'; ">Calculadora de Ganhos</h1>
        <form asp-action="CalcularGanho" method="post">
            <div class="mb-3">
                <label class="form-label" style="font-family: 'JetBrains Mono'; font-size: 25px; margin-top:30px; color: #fff">Escolha o material que foi reciclado!</label>
                <select asp-for="cotacao" class="form-control" style="width: 500px; height:75px; margin-left: 10rem; font-size: 30px; font-family: 'JetBrains Mono'; margin-top: 10px">
                    @foreach (var item in ViewBag.Valores)
                    {
                        <option value="@item.cotacao">@item.Materiais</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" style="font-family: 'JetBrains Mono'; font-size: 25px; margin-top:30px; color: #fff">Insira a quantidade de kilos</label>
                <input asp-for="Kilos" type="number" step="0.01" class="form-control" style="width: 500px; height:75px; margin-left: 10rem; font-size: 30px; font-family: 'JetBrains Mono'; margin-top: 10px" />
            </div> 
            <div>
                <button type="submit" class="btn btn-primary" style="background: green; outline: none;height: 75px; width: 200px; border-radius:30px;font-size: 30px; font-family:'Trebuchet MS'; margin-top: 20px">Calcular</button>
            </div>
        </form>

        <div class="mt-4">
            <h4 style="font-family: 'JetBrains Mono'; font-size: 30px; color: #fff">Valor final de ganhos: R$@Model.preco.00</h4>
        </div>
    </div>
</body>
</html>